

section .content {
  margin: 10px;
}

section .content .section {
  display: flexbox;
  width: 100%;
}

section .content .section fieldset {
  border: none;
}

section .content .section .double {
  display: flexbox;
  width: fit-content;
  margin: 0px auto;
}

section .content .section .double .column {
  display: inline-block;
  width: fit-content;
  vertical-align: top;
}

section .content .section .column label {
  font-weight: bold;
}

section .content .section .column fieldset.inline label {
  display: inline-block;
  padding-right: 20px;
  text-align: right;
  width: 150px;
}

section .content .section .column fieldset.textarea label {
  display: block;
  padding-bottom: 5px;
  text-align: left;
  width: 100%;
}

section .content .section fieldset.inline .text {
  border-bottom: 1px solid var(--border-colour-form-field);
  display: inline-block;
  height: 25px;
  overflow-wrap: anywhere;
  white-space: pre-wrap;
  width: 350px;
  word-wrap: break-word;
}

section .content .section fieldset.textarea div.markdown {
  border: 1px solid var(--border-colour-form-field);
  display: block;
  margin: 0px auto;
  min-height: 100px;
  padding: 10px;
}

section .content .section fieldset.textarea div:not(.full-width) {
  width: 500px;
}





.section fieldset.textarea div.full-width div.markdown {
  display: flex;
  margin: 0px auto;
  width: 90%;
}






