
@media print {
    body,
    footer,
    nav,
    .pf-v6-c-nav__subnav {
        visibility: hidden;
    }
    main {
        visibility: visible;
        position: absolute;
        left: 0;
        top: 0;
    }
    hr,
    .pf-v6-c-divider {
        display: block;
        height: 1px;
        background: transparent;
        width: 100%;
        border: none;
        border-top: solid 1px #aaa;
    }
}
