/* light */
:root {

  --contrasting-colour: #177ee6;

  --border-colour: #e6dcdc;
  --border-colour-error: #BB0000;
  --border-colour-form-field: #ccc;
  --border-colour-navbar-active: #73bcf7;
  --border-colour-navbar-hover: #777879;

  --background-colour-active: #fff;
  --background-colour-form-field: #f0f0f0;
  --background-colour-header: #151515;
  --background-colour-inactive: #f0f0f0;
  --background-colour-navbar: #212427;
  --background-colour-navbar-active: #4f5255;
  --background-colour-navbar-hover: #4f5255;

  --background-colour-ticket-comment-default: #177fe6a4;
  --background-colour-ticket-comment-notification: #96c7ff;
  --background-colour-ticket-comment-solution: #b7ff96;
  --background-colour-ticket-comment-task: #f8ff96;

  --background-colour-ticket-type-change: #badff7;
  --background-colour-ticket-type-incident: #f7baba;
  --background-colour-ticket-type-issue: #baf7db;
  --background-colour-ticket-type-request: #f7e9ba;
  --background-colour-ticket-type-problem: #f7d0ba;
  --background-colour-ticket-type-project-task: #c5baf7;

  --colour-status-ok: #319c3a;
  --colour-status-warn: #cf9925;
  --colour-status-bad: #cf3025;
  --colour-status-unk: #999;

  --text-colour: #000;
  --text-colour-contrasting: #FFF;
  --text-colour-button: #fff;
  --text-colour-error: #BB0000;
  --text-colour-footer: #999;
  --text-colour-header: #fff;
  --text-colour-help: #707070;
  --text-colour-inverted: #FFF;
  --text-colour-navbar: #fff;
  --text-colour-navtab: #6a6e73;
  --text-colour-software-action-add: #315f9c;
  --text-colour-software-action-install: #319c3a;
  --text-colour-software-action-remove: #9c3131;

}


/* AWX */
/* :root {

  --contrasting-colour: #177ee6;

  --border-colour: #444548;
  --border-colour-error: #BB0000;
  --border-colour-form-field: #444548;
  --border-colour-navbar-active: #73bcf7;
  --border-colour-navbar-hover: #777879;

  --background-colour-active: #1b1d21;
  --background-colour-form-field: #030303;
  --background-colour-header: #151515;
  --background-colour-inactive: #030303;
  --background-colour-navbar: #212427;
  --background-colour-navbar-active: #1b1d21;
  --background-colour-navbar-hover: #4f5255;

  --background-colour-ticket-comment-default: #177fe6a4;
  --background-colour-ticket-comment-notification: #96c7ffbe;
  --background-colour-ticket-comment-solution: #b7ff96be;
  --background-colour-ticket-comment-task: #f8ff96d3;

  --background-colour-ticket-type-change: #badff7;
  --background-colour-ticket-type-incident: #f7baba;
  --background-colour-ticket-type-issue: #baf7db;
  --background-colour-ticket-type-request: #f7e9ba;
  --background-colour-ticket-type-problem: #f7d0ba;
  --background-colour-ticket-type-project-task: #c5baf7;

  --colour-status-ok: #319c3a;
  --colour-status-warn: #cf9925;
  --colour-status-bad: #cf3025;
  --colour-status-unk: #999;

  --text-colour: #E0E0E0;
  --text-colour-contrasting: #E0E0E0;
  --text-colour-inverted: #0E0E0E;
  --text-colour-button: #E0E0E0;
  --text-colour-error: #BB0000;
  --text-colour-footer: #707070;
  --text-colour-header: #E0E0E0;
  --text-colour-help: #707070;
  --text-colour-navbar: #E0E0E0;
  --text-colour-navtab: #6a6e73;
  --text-colour-software-action-add: #315f9c;
  --text-colour-software-action-install: #319c3a;
  --text-colour-software-action-remove: #9c3131;

} */


/* Dark */
/* :root {

  --contrasting-colour: #177ee6;

  --border-colour: #444548;
  --border-colour-error: #BB0000;
  --border-colour-form-field: #444548;
  --border-colour-navbar-active: #73bcf7;
  --border-colour-navbar-hover: #777879;

  --background-colour-active: #1b1d21;
  --background-colour-form-field: #26292d;
  --background-colour-header: #151515;
  --background-colour-inactive: #26292d;
  --background-colour-navbar: #212427;
  --background-colour-navbar-active: #1b1d21;
  --background-colour-navbar-hover: #4f5255;

  --background-colour-ticket-comment-default: #177fe6a4;
  --background-colour-ticket-comment-notification: #96c7ffbe;
  --background-colour-ticket-comment-solution: #b7ff96be;
  --background-colour-ticket-comment-task: #f8ff96d3;

  --text-colour: #E0E0E0;
  --text-colour-contrasting: #E0E0E0;
  --text-colour-inverted: #0E0E0E;
  --text-colour-button: #E0E0E0;
  --text-colour-error: #BB0000;
  --text-colour-footer: #707070;
  --text-colour-header: #E0E0E0;
  --text-colour-help: #707070;
  --text-colour-navbar: #E0E0E0;
} */





a {
  color: var(--contrasting-colour);
  text-decoration: none;
}

body {
  background-color: var(--background-colour-inactive);
  color: var(--text-colour);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  height: 100%;
  margin: 0px;
  width: 100%;
}

.app {

  height: 100%;
}

.icon-common {
  padding: 2px;
  margin: 0px;
  display: inline;
}

.icon-device-status-ok {
  fill: var(--colour-status-ok);
}

.icon-device-status-warn {
  fill: var(--colour-status-warn);
}

.icon-device-status-bad {
  fill: var(--colour-status-bad);
}

.icon-device-status-unk {
  fill: var(--colour-status-unk);
}

header {
  align-items: center;
  background-color: var(--background-colour-header);
  color: var(--text-colour-header);
  display: flex;
  height: 76px;
  margin: 0px;
  padding: 0px;
  position: sticky;
  text-align: center;
  top: 0px;
  vertical-align: middle;
  width: 100%;
}

header .icon {
  cursor: pointer;
  margin: 0px 20px;
}

header a {
  color: var(--text-colour-header);
  text-decoration: none;
}

header h1 {
  color: var(--text-colour-header);
  display: inline;
  height: 76px;
  line-height: 76px;
  margin: 0px;
  max-width: 275px;
  width: fit-content;
  padding: 0px;
  text-decoration: none;
}

.collapsible-hidden {
  display: none;
  overflow: hidden;
  transition: height 0.2s ease-in-out;
}

.collapsible-show {
  display: block;
  overflow: visible;
  transition: height 0.2s ease-in-out;
}


div.nav {
  bottom: 0px;
  height: calc(100vh - 76px);
  left: 0px;
  position: sticky;
  top: 76px;
  width: 275px;
}

nav {
  background-color: var(--background-colour-navbar);
  color: var(--text-colour-navbar);
  display: block;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;

}

nav .group {
  display: block;
  width: 276px;
}

nav .menu {
  cursor: pointer;
  display: flex;
  height: 30px;
  padding: 10px 0px;
  padding-left: 10px;
}

nav .menu:hover {
  font-weight: bold;
}

nav .menu span {
  display: inline-block;
  height: fit-content;
  margin: auto 0px;
  width: 100%;
}

nav .menu span.icon {
  height: 20px;
  margin: auto 5px;
  width: 20px;
}

nav .menu span.text {
  width: 100%;
}

nav .menu span.menu-icon {
  display: inline-block;
  height: 25px;
  margin: auto 0px;
  padding: 0px;
  width: 25px;
}

nav .sub-menu span.icon {
  height: 20px;
  margin: auto 5px;
  padding: 0px;
  width: 20px;
}

nav .page {
  cursor: pointer;
  display: flex;
  height: 30px;
  padding: 5px 0px;
}

nav .page.active {
  background-color: var(--background-colour-navbar-active);
  border-left: 3px solid var(--border-colour-navbar-active);
}

nav .page:hover {
  background-color: var(--background-colour-navbar-hover);
  border-left: 3px solid var(--border-colour-navbar-hover);
}

nav .page span {
  display: inline-block;
  height: fit-content;
  margin: auto 0px;
}

nav .page span.icon {
  margin-left: 30px;
  padding: auto;
  width: 20px;
}

.view-port {
  display: flex;
  height: 100%;
  padding: 0px;
  width: 100%;
}

main {
  background-color: var(--background-colour-inactive);
  display: inline-block;
  margin: 0px auto;
  width: 100%;
}

main .content-header {
  background-color: var(--background-colour-active);
  display: grid;
  gap: 0px;
  grid-template-columns: 1fr 2fr 1fr;
  height: 80px;
}

main .content-header .column {
  margin: auto 0px;
  text-align: center;
}

main h2 {
  margin: auto;
}

main .content-header .column.right {
  margin: auto 0px;
  text-align: center;
}

article {
  display: flex;
  flex-wrap: wrap;
  margin: 0px auto;
  padding: 20px;
}



article div.ticket {
  display: flex;
  width: 100%;
  padding: 0px;
  margin-bottom: -20px;
}


.ticket .contents h3.description.ticket-type-change,
.ticket .sidebar h3.metadata.ticket-type-change {
  background-color: var(--background-colour-ticket-type-change);
}

.ticket .contents h3.description.ticket-type-incident,
.ticket .sidebar h3.metadata.ticket-type-incident {
  background-color: var(--background-colour-ticket-type-incident);
}

.ticket .contents h3.description.ticket-type-issue,
.ticket .sidebar h3.metadata.ticket-type-issue {
  background-color: var(--background-colour-ticket-type-issue);
}

.ticket .contents h3.description.ticket-type-problem,
.ticket .sidebar h3.metadata.ticket-type-problem {
  background-color: var(--background-colour-ticket-type-problem);
}

.ticket .contents h3.description.ticket-type-project-task,
.ticket .sidebar h3.metadata.ticket-type-project-task {
  background-color: var(--background-colour-ticket-type-project-task);
}

.ticket .contents h3.description.ticket-type-request,
.ticket .sidebar h3.metadata.ticket-type-request {
  background-color: var(--background-colour-ticket-type-request);
}


div.ticket .sidebar {
  background-color: var(--background-colour-active);
  display: inline-block;
  width: 400px;
  padding: 0px;
}

div.ticket div.metadata {
  background-color: var(--background-colour-active);
  border: 1px solid var(--border-colour);
  display: block;
  flex-wrap: wrap;
  right: 0px;
  top: 76px;
  bottom: 0px;
  position: sticky;
  margin: 0%;
  overflow-x: hidden;
  overflow-y: auto;
  top: 76px;
  height: calc(100vh - 154px);

}

article div.ticket div.metadata div {
  display: block;
  width: 100%;
  overflow-y: auto;
}

.ticket .sidebar h3.metadata {
  background-color: chocolate;
  font-size: 16px;
  line-height: 30px;
  height: 30px;
  margin: 0px;
  text-align: center;
  width: 100%;
}

.ticket .metadata fieldset {
  display: block;
  margin: 10px;
  border: none;
}

.ticket .metadata fieldset label {
  display: block;
  font-weight: bold;
  line-height: 30px;
  width: 100%;
}

.ticket .metadata fieldset span.text {
  border: none;
  border-bottom: 1px solid var(--border-colour-form-field);
  display: block;
  line-height: 30px;
  width: 100%;
}

div.ticket .contents {
  display: inline-block;
  margin: 0px;
  margin-right: 10px;
  width: 100%;
}

.ticket .contents h3.related-tickets,
.ticket .contents h3.linked-items {
  background-color: var(--contrasting-colour);
  color: var(--text-colour-button);
  margin: 0px;
  padding: 0px;
  padding-left: 10px;
  padding-right: -10px;
  text-align: left;
}

.ticket .contents section {
  display: flexbox;
  margin-bottom: 10px;
  padding: 0px;
}

.ticket section.description h3.description {
  font-size: inherit;
  font-weight: normal;
  line-height: 30px;
  height: 30px;
  margin: 0px;
  padding-left: 10px;
  text-align: left;
}

.ticket section.description .markdown {
  padding: 10px;
}

.ticket .contents .comments ul li {
  margin: 20px 0px;
}

.ticket .discussion {
  background-color: var(--background-colour-inactive);
  padding-bottom: 20px;
}

.ticket .discussion div.replies {
  border: 1px solid var(--contrasting-colour);
  border-right: none;
  border-top: none;
  margin: 0px;
}

.ticket .discussion .replies h3 {
  background-color: var(--background-colour-inactive);
  color: var(--text-colour);
  display: flex;
  height: 30px;
  margin: 0px;
  padding-left: 10px;
}

.ticket .discussion .replies h3 svg {
  fill: var(--text-colour);
  height: 30px;
}

.ticket div.comment {
  background-color: var(--background-colour-active);
  border-width: 1px;
  border-style: solid;
}


.ticket .comment-form {
  background-color: var(--background-colour-active);
  border-style: solid;
  border-width: 1px;
  display: block;
  padding: 0px;
}

.ticket .comment-form form fieldset span.help-text {
  font-size:xx-small;
}

.ticket .comment-form form fieldset {
  border: none;
  display: inline-block;
  margin: auto;
  width: auto;
}


.ticket .comment-form form fieldset.fieldset-tester {
  display: flex;
  padding: 1px;
}


.ticket .comment-form form textarea {
  height: 200px;
  margin: 5px;
  width: 100%;
}

.ticket hr {
  border: none;
  border-bottom: 1px solid var(--border-colour-form-field);
  margin: 0px 5px;
}

.ticket .comment h4.comment {
  border: none;
  display: flex;
  font-size: inherit;
  font-weight: normal;
  height: 30px;
  line-height: 30px;
  margin: 0px;
  padding-left: 5px;
}

.ticket .comment h4.comment #icons svg {
  height: 30px;
  margin: 0px;
  margin-right: 5px;
  width: 20px;
}


.ticket .comment-type-default {
  border-color: var(--background-colour-ticket-comment-default);
}

.ticket .comment-type-default h4.comment {
  background-color: var(--background-colour-ticket-comment-default);
  color: var(--text-colour-contrasting);
}

.ticket .comment-type-default h4.comment #icons svg {
  fill: var(--text-colour-contrasting);
}

.ticket .comment-type-notification {
  border-color: var(--background-colour-ticket-comment-notification);
}

.ticket .comment-type-notification h4.comment {
  background-color: var(--background-colour-ticket-comment-notification);
  color: var(--contrasting-colour);
}

.ticket .comment-type-notification h4.comment #icons svg {
  fill: var(--contrasting-colour);
}

.ticket .comment-type-solution {
  border-color: var(--background-colour-ticket-comment-solution);
}

.ticket .comment-type-solution h4.comment {
  background-color: var(--background-colour-ticket-comment-solution);
  color: var(--contrasting-colour);
}

.ticket .comment-type-solution h4.comment #icons svg {
  fill: var(--contrasting-colour);
}

.ticket .comment-type-task {
  border-color: var(--background-colour-ticket-comment-task);
}

.ticket .comment-type-task h4.comment {
  background-color: var(--background-colour-ticket-comment-task);
  color: var(--contrasting-colour);
}

.ticket .comment-type-task h4.comment #icons svg {
  fill: var(--contrasting-colour);
}

.ticket .comment h4.comment #text {
  height: inherit;
  line-height: inherit;
  padding: 0px;
  text-align: left;
  width: 100%;
}

.ticket .comment h4.comment #text span.sub-script {
  font-size: smaller;
}

.ticket .comment h4.comment #icons {
  border: none;
  display: inline-flexbox;
  height: inherit;
  line-height: inherit;
  margin-right: 0px;
  margin-left: auto;
  text-align: right;
  width: 200px;
}

.ticket .comment-form fieldset,
.ticket .comment fieldset {
  border: none;
  color: var(--text-colour);
  display: inline-block;
  line-height: 14pt;
  width: 200px;
  font-size: 10pt;
}

.ticket .comment-form fieldset label,
.ticket .comment fieldset label {
  display: block;
  font-size: inherit;
  font-weight: bold;
  line-height: inherit;
}
.ticket .comment-form fieldset span
.ticket .comment fieldset span {
  display: block;
  line-height: inherit;

}

.ticket .comment .markdown {
  background-color: var(--background-colour-active);
  margin: 15px;
  padding: 10px
}

span.badge {
  background-color: var(--background-colour-active);
  border: 1px solid var(--border-colour-form-field);
  border-radius: 15px;
  display: inline-flex;
  font-size: 10pt;
  height: fit-content;
  padding: 0px;
  text-align: left;
  width: fit-content;
  margin: 0px 2px;
}

.external-links a {
  color: var(--text-colour);
  text-decoration: none;
}


span.badge span {
  display: inline-block;
  line-height: normal;
}

span.badge span.badge-icon {
  height: fit-content;
  margin: auto 1px auto 3px;
  padding: 0px;
  width: fit-content;

}

span.badge span.badge-text {
  background-color: var(--background-colour-active);
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  height: fit-content;
  margin: 2px 2px;
  padding: 0px 5px 0px 2px;
}

a.badge-link {
  text-decoration: none;
  color: inherit;
}

span.badge span.badge-icon.badge-icon-action-add {
  fill: var(--text-colour-software-action-add);
}

span.badge span.badge-text.badge-text-action-add {
  color: var(--text-colour-software-action-add);
}

span.badge span.badge-icon.badge-icon-action-install {
  fill: var(--text-colour-software-action-install);
}

span.badge span.badge-text.badge-text-action-install {
  color: var(--text-colour-software-action-install);
}

span.badge span.badge-icon.badge-icon-action-remove {
  fill: var(--text-colour-software-action-remove);
}

span.badge span.badge-text.badge-text-action-remove {
  color: var(--text-colour-software-action-remove);
}






span.badge span.badge-icon.ticket-status-icon svg {
  border-radius: 10px;
}

span.badge span.badge-icon.ticket-status-icon-accepted svg {
  background-color: #e1ffb2;
  fill: #2e9200;
}

span.badge span.badge-icon.ticket-status-icon-approvals svg {
  background-color: #ffceb2;
  fill: #d86100;
}

span.badge span.badge-icon.ticket-status-icon-assigned svg {
  background-color: #e1ffb2;
  fill: #2e9200;
}

span.badge span.badge-icon.ticket-status-icon-assigned_planning svg {
  background-color: #e1ffb2;
  fill: #2e9200;
}

span.badge span.badge-icon.ticket-status-icon-closed svg {
  background-color: #c9b2ff;
  fill: #640092;
}

span.badge span.badge-icon.ticket-status-icon-draft svg {
  background-color: #cacaca;
  fill: #4d4d4d;
}

span.badge span.badge-icon.ticket-status-icon-evaluation svg {
  background-color: #b2d6ff;
  fill: #007592;
}

span.badge span.badge-icon.ticket-status-icon-invalid svg {
  background-color: #ffb2b6;
  fill: #920000;
}

span.badge span.badge-icon.ticket-status-icon-new svg {
  background-color: #b2dcff;
  fill: #004492
}

span.badge span.badge-icon.ticket-status-icon-pending svg {
  background-color: #ffceb2;
  fill: #d86100;
}

span.badge span.badge-icon.ticket-status-icon-solved svg {
  background-color: #c9b2ff;
  fill: #640092;
}

span.badge span.badge-icon.ticket-status-icon-testing svg {
  background-color: #b2d3ff;
  fill: #8c00ff;
}









.markdown p:not(div.admonition p) {
  background-color: inherit;
  font-size: inherit;
  line-height: 25px;
  padding: 0px;
  margin: 0px;
  text-align: left;

}

.markdown div.admonition {
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  font-size: inherit;
  margin: 10px;
  padding: 0px;
}

.markdown div.admonition p.admonition-title {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: inherit;
  margin: 0px;
  padding: 2px 10px 2px 10px;
}

.markdown div.admonition p:not(p.admonition-title) {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: inherit;
  padding: 10px;
  margin: 0px;
  width: 100%;
  color: #3b3b3b;
}

.markdown div.admonition.info {
  background-color: #b6f5dd;
  border-color: #27ffbe;
}

.markdown div.admonition.info p.admonition-title {
  background-color: #1ef59170;
}

.markdown div.admonition.note {
  background-color: #b6d3f5;
  border-color: #278cff;
}

.markdown div.admonition.note p.admonition-title {
  background-color: #1e82f570;
  color: #fff;
}

.markdown div.admonition.tip {
  background-color: #bbf5b6;
  border-color: #39ff27;
}

.markdown div.admonition.tip p.admonition-title {
  background-color: #37f51e70;
  color: #fff;
}

.markdown div.admonition.warning {
  background-color: #f5d8b6;
  border-color: #ffa127;
}

.markdown div.admonition.warning p.admonition-title {
  background-color: #f5911e70;
  color: #fff;
}

.markdown div.admonition.danger {
  background-color: #f5b6b6;
  border-color: #ff2727;
}

.markdown div.admonition.danger p.admonition-title {
  background-color: #f51e1e70;
  color: #fff;
}

.markdown div.admonition.quote {
  background-color: #d3d3d3;
  border-color: #868686;
}

.markdown div.admonition.quote p.admonition-title {
  background-color: #81818170;
  color: #fff;
}

.markdown div.admonition.quote p:not(p.admonition-title) {
  font-style: italic;
}


.hljs {
  background: var(--background-colour-inactive);
  color: var(--text-colour);
  padding: 5px;
  border: 1px solid var(--border-colour);
  display: inline-block;
  width: 95%;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.hljs-comment,
.hljs-quote,
.hljs-variable {
  color: #008000;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-built_in,
.hljs-name,
.hljs-tag {
  color: #00f;
}

.hljs-string,
.hljs-title,
.hljs-section,
.hljs-attribute,
.hljs-literal,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type {
  color: #c28866;
}

.hljs-addition {
  color: #73cc73;
}

.hljs-deletion {
  color: #ff7b53;
}

.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-meta {
  color: #2b91af;
}

.hljs-doctag {
  color: #808080;
}

.hljs-attr {
  color: #3166c9;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link {
  color: #00b0e8;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}



section {
  background-color: var(--background-colour-active);
  border: 1px solid var(--border-colour);
  padding: 0px;
  width: 100%;
}

section hr {
  border: none;
  border-bottom: 1px solid var(--border-colour);
  margin: 0px 10px;
}

section.error {
  display: flexbox;
  padding: 0px;
}

section.error h2,
section.error h3 {
  display: block;
  margin: 0px auto;
  text-align: center;
  width: 90%;
}

section.error p,
section.error pre {
  display: block;
  margin: 0px auto;
  width: fit-content;
  padding: 50px;
}

section .nav-tabs {
  border-bottom: 1px solid var(--border-colour);
  display: flex;
  height: 50px;
  margin: 0px 10px;

}

section .nav-tabs .nav-tabs-tab {
  border-bottom: 1px solid var(--border-colour);
  color: var(--text-colour-navtab);
  cursor: pointer;
  display: inline-flex;
  height: 50px;
  margin: auto 0px;
}

section .nav-tabs .nav-tabs-tab:hover {
  border-bottom: 3px solid var(--border-colour-navbar-hover);
}


section .nav-tabs .nav-tabs-tab.active {
  border-bottom: 3px solid var(--contrasting-colour);
}


section .nav-tabs .nav-tabs-tab div {
  display: flex;
  width: fit-content;
  margin: auto 0px;
  padding: 0% 10px;
}

section .nav-tabs .nav-tabs-tab span {
  display: inline-block;
  height: fit-content;
  margin: auto 0px;
  padding: 0%;
}


section .nav-tabs .nav-tabs-tab .nav-tabs-icon {
  color: var(--background-colour-active);
  height: 25px;
  width: 25px;
  margin: auto 0px;
}

section .nav-tabs .nav-tabs-tab .nav-tabs-icon svg {
  fill: var(--text-colour-navtab);
  height: 25px;
  width: 25px;
}

section .nav-tabs .nav-tabs-tab .nav-tabs-text {
  font-size: 13pt;
}


section .content {
  margin: 10px;
}

section .content .section {
  display: flexbox;
  width: 100%;
}

section .content .section fieldset {
  border: none;
}

section .content .section .double {
  display: flexbox;
  width: fit-content;
  margin: 0px auto;
}

section .content .section .double .column {
  display: inline-block;
  width: fit-content;
  vertical-align: top;
}

section .content .section .column label {
  font-weight: bold;
}

section .content .section .column fieldset.inline label {
  display: inline-block;
  padding-right: 20px;
  text-align: right;
  width: 150px;
}

section .content .section .column fieldset.textarea label {
  display: block;
  padding-bottom: 5px;
  text-align: left;
  width: 100%;
}

section .content .section fieldset.inline .text {
  border-bottom: 1px solid var(--border-colour-form-field);
  display: inline-block;
  height: 25px;
  min-width: 350px;
}

section .content .section fieldset.textarea div.markdown {
  border: 1px solid var(--border-colour-form-field);
  display: block;
  margin: 0px auto;
  min-height: 100px;
  padding: 10px;
}

section .content .section fieldset.textarea div:not(.full-width) {
  width: 500px;
}

.section fieldset.textarea div.full-width div.markdown {
  display: flex;
  margin: 0px auto;
  width: 90%;
}

section .content table {
  width: 100%;
}

section .content thead,
section .content tr {
  text-align: center;
  height: 60px;
}

section .content th,
section .content td {
  border-bottom: 1px solid var(--border-colour);
}

p.table-pagination {
  /* background-color: chartreuse; */
  display: inline-block;
  padding: 0px
}

p.table-pagination span {
  /* background-color: chocolate; */
  display: inline-block;
  margin: 0px 10px;
}

p.table-pagination span.table-pagination-text {
  /* background-color: chocolate; */
}

p.table-pagination span.table-pagination-text input {
  /* background-color: chocolate; */
  width: 40px;
  text-align: center;
  margin: 0px 5px;
}


p.table-pagination span.table-pagination-button {
  /* background-color: chocolate; */
  cursor: pointer;
}

form {
  display: flexbox;
}

form fieldset {
  border: none;
  display: flexbox;
  margin: auto;
  text-align: left;
  width: fit-content;
}

form fieldset label.name {
  display: block;
  font-size: 11pt;
  padding-bottom: 5px;
}

form fieldset span.error-text {
  display: block;
  color: var(--text-colour-error);
  font-size: 10pt;
}

form fieldset span.help-text {
  display: block;
  color: var(--text-colour-help);
  font-size: 10pt;
  padding: 5px 0px;
}

.common-field {
  background-color: var(--background-colour-form-field);
  color: var(--text-colour);
  font-size: inherit;
  line-height: 30px;
}


input.common-field {
  border: none;
  border-bottom: 1px solid var(--border-colour-form-field);
}


.content form fieldset .common-field {
  min-width: 400px;
}


form fieldset textarea {
  border-color: var(--border-colour-form-field);
}

form fieldset input:invalid,
form fieldset select:invalid,
form fieldset textarea:invalid {
  border: 1px solid var(--border-colour-error);
}

form fieldset select {
  border-color: var(--border-colour-form-field);
  height: 30px;
}

div.align-right {
  display: block;
  padding: 0px;
  margin: auto;
  margin-right: 5px;
  margin-bottom: 5px;
  width: fit-content;
}

div.submit-dropdown-button {
  display: inline-flex;
}

div.submit-dropdown-button button.button,
div.submit-dropdown-button div.button {
  background-color: var(--contrasting-colour);
  border: none;
  color: var(--text-colour-button);
  display: inline-block;
  font-size: inherit;
  height: 30px;
  line-height: 30px;
  padding: 0px 20px;

}

div.submit-dropdown-button div.dropdown-button {
  height: 30px;
  margin: 0px;
  margin-left: 1px;
  padding: 0px;
}

div.submit-dropdown-button div.button svg {
  display: inline-flex;
  height: 30px;
  margin: 0px;
  padding: 0px;
  width: 30px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--background-colour-active);
  margin-top: 30px;
  min-width: 140px;
  width: auto;
  z-index: 1;
}


.dropdown-menu-entry {
  background-color: var(--background-colour-active);
  border: none;
  color: var(--text-colour);
  margin: 1px;
  padding: 5px 16px;
  text-decoration: none;
  display: block;
  font-size: 12pt;
  width: 100%;
}

.dropdown-content p:hover, .dropdown-menu-entry:hover {
  background-color: var(--background-colour-navbar-hover);
  color: var(--text-colour-button);
}

.show {
  display:block;
}

button.form {
  background-color: var(--contrasting-colour);
  color: var(--text-colour-button);
  border: none;
  font-size: inherit;
  height: 30px;
  margin: 5px;
  padding: 0px 20px;
}

form button.inverse {
  background-color: var(--background-colour-active);
  color: var(--contrasting-colour);
}

footer {
  background-color: var(--background-colour-active);
  display: grid;
  gap: 0px;
  grid-template-columns: 1fr 1fr 1fr;
  height: 76px;
  width: 100%;
}

footer .column {
  margin: auto 0px;
  text-align: center;
}

footer .left {
  display: block;
  align-items: center;
}


footer .center {
  align-items: center;
  color: var(--text-colour-footer);
  font-size: 9pt;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: block;
  width: 52px;
  height: 30px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--border-colour-form-field);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: var(--contrasting-colour);
}

input:focus+.slider {
  box-shadow: 0 0 1px var(--contrasting-colour);
}

input:checked+.slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 50%;
}